################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Saper/Saper/obj
*.json
*.dll
*.pdb
